rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /rooms/{room} {
      allow create: if request.auth != null;
      allow read, write: if request.auth != null 
          && request.auth.token.user_id in resource.data.authorizedUsers;
      match /stories/{story} {
        allow create, read, write:
          if request.auth != null && 
            request.auth.token.user_id in get(/databases/$(database)/documents/rooms/$(room)).data.authorizedUsers; 
      }
    }
  }
}
